<div
  class="relative w-full flex antialiased flex-col justify-center overflow-hidden py-6 sm:py-12"
>
  <div class="relative py-3 w-full sm:w-96 max-w-max mx-auto text-center">
    <span i18n class="text-2xl text-claro font-bold">¡Bienvenido!</span>

    <div class="mt-4 bg-g rounded-lg text-left">
      <div class="px-2 py-6">
        <label class="block font-semibold text-claro"> Nombre </label>
        <input
          type="text"
          placeholder="Nombre"
          class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md"
        />
        <label class="block mt-3 font-semibold text-claro"> Correo </label>
        <input
          type="email"
          placeholder="Correo"
          class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md"
        />
        <label class="block mt-3 font-semibold text-claro"> Contraseña </label>
        <input
          type="password"
          placeholder="Contraseña"
          class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md"
        />
        <label class="block mt-3 font-semibold text-claro">Confirmar contraseña </label>
        <input
          type="password"
          placeholder="Contraseña"
          class="border w-full h-5 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md"
        />
        <div
          class="flex flex-col mt-4 md:flex-row items-center gap-4 justify-between md:items-baseline"
        >
          <button
            type="submit"
            class="mt-4 transition-all bg-limon-600 hover:bg-limon-800 font-bold py-2 px-6 rounded-md"
          >
            Registrarme
          </button>
          <a class="text-sm text-limon-600 hover:underline"
            >Olvidaste tu contraseña?</a
          >
        </div>
        <div class="pt-6 text-claro flex flex-col text-sm items-center">
          <span> ¿Aún no tienes una cuenta? </span>
          <a
            [routerLink]="['/auth/login']"
            class="text-limon-600 hover:underline"
            >Inicia sesión</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
