<!-- component -->

<section class="bg-azul-900 max-h-dvh min-h-[calc(100dvh-82px)]">
  <div
    class="px-0 md:px-6 lg:px-8 mx-auto max-w-7xl flex flex-col gap-6 min-h-[calc(100dvh-80px)]"
  >
    <!-- class="flex overflow-x-hidden justify-end min-h-[calc(100vh-80px)] overflow-hidden" -->
    <div
      class="flex overflow-x-hidden justify-end h-[calc(100svh-80px)] overflow-hidden"
    >
      <!-- Sidebar -->
      <div
        [ngClass]="
          isOpen
            ? ' w-full md:w-1/4'
            : 'scale-x-0 w-0 transform-none overflow-x-hidden md:w-14'
        "
        class="bg-blanco border-r border-gray-300 transition-all duration-300 h-auto ease-linear"
      >
        <!-- Sidebar Header -->
        <header
          class="sticky top-0 p-4 border-b border-gray-300 flex justify-between items-center bg-azul-900 text-blanco shadow-lg h-14 md:h-16"
        >
          <h5 class="text-xl font-semibold">
            <span [ngClass]="isOpen ? 'block' : 'hidden'"> Mensajes </span>
          </h5>
          <div class="relative" (click)="toggleSideBar()">
            <button id="menuButton" class="hidden md:block focus:outline-none">
              @if (isOpen) {
              <app-icon name="remove" />
              } @else {
              <app-icon name="add" />
              }
            </button>
          </div>
        </header>

        <!-- Contact List -->
        <div
          class="overflow-y-auto h-[calc(100%-100px)] p-3 mb-9"
          [ngClass]="
            isOpen ? 'scale-x-100 md:scale-x-100' : 'scale-x-0 md:scale-x-100'
          "
        >
          @if (isOpen) {

          <input
            type="text"
            placeholder="Buscar contactos..."
            [(ngModel)]="searchTerm"
            class="border w-full h-5 px-3 py-5 my-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md"
          />
          } @for (contact of filteredContacts; track $index) {
          <div
            [ngClass]="isOpen ? 'p-2' : 'm-0 p-0'"
            (click)="onClickChat(contact.id)"
            class="flex items-center mb-4 cursor-pointer hover:bg-gris rounded-md"
          >
            <div
              [ngClass]="isOpen ? 'mr-3' : 'm-0 p-0'"
              class="w-12 h-auto bg-gray-300 rounded-full"
            >
              <img
                [src]="contact.avatarUrl"
                alt="User Avatar"
                class="w-12 h-auto rounded-full"
              />
            </div>
            <div
              class="flex-1 max-w-[calc(100%-60px)]"
              [ngClass]="isOpen ? 'block' : 'hidden'"
            >
              <h5 class="!text-lg !font-medium m-0">{{ contact.name }}</h5>
              <p
                class="text-gris !text-base !truncate"
                [matTooltip]="contact.message"
                [matTooltipShowDelay]="500"
                [matTooltipHideDelay]="250"
              >
                {{ contact.message }}
              </p>
            </div>
          </div>
          }
        </div>
      </div>

      <!-- Main Chat Area -->
      <div
        [ngClass]="
          isOpen
            ? 'w-0 scale-x-0 md:flex-1 transform-none overflow-x-hidden'
            : ' w-full md:w-auto flex-1 '
        "
        class="relative transition-all duration-300 ease-linear"
      >
        @if(currentUrl === '/messages'){
        <div class="flex flex-col items-center justify-center h-full bg-gris">
          <h2 class="!text-xl !font-semibold mb-4 text-azul-900">
            ¡Bienvenido a la aplicación de mensajería!
          </h2>
          <p class="!text-azul-900">
            Selecciona un contacto para comenzar a chatear.
          </p>
        </div>

        } @else {

        <router-outlet />
        }
      </div>
    </div>
  </div>
</section>
