/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography h5,
.mat-typography h6,
.mat-typography p:not(.custom-style) {
  all: unset;
  font-size: unset;
  font-weight: inherit;
  line-height: inherit;
  display: inherit;
}

p {
  display: block !important;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 24px;
}
/* To handle height for vertical scrollbar, you can control the thumb height */
::-webkit-scrollbar-thumb {
  max-height: 200px; /* Minimum height of the thumb handle */
}

.transition-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e8ff00; /* Color de fondo */
  transform: translateX(100%); /* Oculto a la izquierda */
  z-index: 50; /* Asegúrate de que esté encima de otros elementos */
}

.transition-panel.visible {
  /* visibility: visible; */
  transform: translateX(0); /* Se muestra en su posición original */
}

.transition-panel.left {
  transform: translateX(-100%); /* Mueve el panel a la derecha para salir */
}

.chat-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.incoming-message,
.outgoing-message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  position: relative;
}

.incoming-message .avatar,
.outgoing-message .avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 8px;
}

.incoming-message .message,
.outgoing-message .message {
  max-width: 75%;
  padding: 12px;
  border-radius: 16px;
  position: relative;
}

.incoming-message .message {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.outgoing-message .message {
  background-color: #34b7f1; /* Color de WhatsApp */
  color: white;
  margin-left: auto; /* Para alinear a la derecha */
}

.arrow {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.incoming-message .arrow {
  border-top: 8px solid white;
  position: absolute;
  top: 0px;
  left: -6px; /* Ajusta según el espacio */
}

.outgoing-message .arrow {
  border-top: 8px solid #1B2132; /* Color de WhatsApp */
  position: absolute;
  top: 0px;
  right: -6px; /* Ajusta según el espacio */
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
