<section class="location-section py-8">
  <div class="container mx-auto max-w-md p-6 bg-white shadow-lg rounded-lg">
    <h2 class="text-2xl font-bold text-gray-800 mb-4">Mi Ubicación</h2>

    <!-- Botón para obtener la ubicación -->
    <button
      (click)="getLocation()"
      class="py-2 px-4 bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-500 mb-4"
    >
      Obtener mi ubicación
    </button>

    @if (isLoading) {
    <!-- Mostrar el estado de carga -->
    <div class="text-gray-500 animate-pulse">Cargando ubicación...</div>
    }

    <!-- Mostrar coordenadas -->
    @if (latitude && longitude) {
    <div class="text-gray-700">
      <p><span class="font-semibold">Latitud:</span> {{ latitude }}</p>
      <p><span class="font-semibold">Longitud:</span> {{ longitude }}</p>
      <!-- <div #map id="map" style="height: 400px"></div> -->
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d110121.68238928924!2d-75.60824081895214!3d4.784080674409556!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1731904257867!5m2!1ses!2sco"
        style="border: 0"
        allowfullscreen=""
        class="w-full"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    }

    <!-- Mostrar dirección si está disponible -->
    @if (address) {
    <div class="mt-4 text-gray-700">
      <p><span class="font-semibold">Dirección:</span> {{ address }}</p>
    </div>
    }

    <!-- Mensaje de error si ocurre algún problema -->
    @if (errorMessage) {
    <div class="text-red-600 mt-4">
      <p>{{ errorMessage }}</p>
    </div>
    }
  </div>
</section>
